<%= form_with model: movie do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :rating %><br>
        <%= form.text_field :rating %>
    </div>

    <div>
        <%= form.label :release_date %><br>
        <%= form.datetime_select :release_date %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>